#RewriteEngine on
#RewriteCond $1 !^(index\.php|css|js|images|includes|ckeditor|uploads|userprofile|robots\.txt)
#RewriteRule ^(.*) index.php/$1 [L]
Options +FollowSymlinks
RewriteEngine on
#RewriteCond %{HTTP_HOST} ^crisisflo.com [NC]
#RewriteRule ^(.*)$ http://www.crisisflo.com/$1 [L,R=301]
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ index.php [L]
#RewriteRule (.*) https://www.crisisflo.com [R,L]
